.simple-heading-1{
    font-size: 50px;
    font-weight: 300;
}
.simple-heading-2{
    font-size: 40px;
    font-weight: 300;
}

.bg-google{
    background-color: #4285f4;
}

.bg-facebook{
    background-color: #3b5998;
}